@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
html,
body {
  background-color: #e1e1e5;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Button loader */
.spin-loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 2px #fff;
  border-top-color: #fd9a0b;
  border-radius: 50%;
  margin-right: 1em;
  animation: 1s ease-in-out infinite spinner;
  -webkit-animation: 1s ease-in-out infinite spinner;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
