@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
html,
body {
  background-color: #e1e1e5;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Button loader */
.btn-spin-loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 2px #e1e1e5;
  border-radius: 50%;
  margin-right: 1em;
  animation: 1s ease-in-out infinite spinner;
  -webkit-animation: 1s ease-in-out infinite spinner;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/* Underline role */
.role-active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #050507;
  transform-origin: center;
  animation: 0.25s ease-out forwards roleUnderline;
}

@keyframes roleUnderline {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

/* Delete icon */
.delete-icon {
  width: 16px;
  height: 18px;
  fill: #e84949;
}

.delete-button:hover .delete-icon,
.manage-button:hover .manage-icon {
  fill: #050507;
}

/* Manage icon */
.manage-icon {
  width: 10px;
  height: 16px;
  fill: #e1e1e5;
}

/* Delete pop-up */
#delete-popup,
#delete-popup-background {
  position: fixed;
}
#delete-popup {
  z-index: 1000;
  background-color: #e1e1e5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#delete-popup-background {
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: #050507;
  width: 100%;
  height: 100%;
}

.cross-icon {
  position: relative;
}

.cross-icon div {
  position: absolute;
  width: 1em;
  height: 2px;
  border-radius: 2px;
  background-color: #5c5b63;
}

.cross-icon div:first-child {
  transform: rotate(45deg);
}

.cross-icon div:last-child {
  transform: rotate(-45deg);
}

/* Return to dashboard icon */
.dashboard-icon {
  width: 10px;
  height: 16px;
  transform: rotate(180deg);
}

/* Toggle input */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c3bdc8;
  box-shadow: inset 0 0 4px rgba(5, 5, 7, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: 4px;
  bottom: 4px;
  background-color: #e1e1e5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #050507;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Proposals registration */
.max-w-170 {
  max-width: 680px;
}
